<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thegayman.mapper.CategorysecondMapper">
	
	<delete id="deleteByIds">
		delete from categorysecond where csid in 
		<foreach item="csid" collection="ids" open="(" separator="," close=")">
			#{csid}
		</foreach>
	</delete>
	
     <select id="querySecond"  resultType="com.thegayman.model.CategorySecond"  >
     select * from  categorysecond where 1=1
     <if test="cid!= '' and cid != null">
    and  cid = #{cid}
     </if>
   
    </select>
    
</mapper>