<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thegayman.mapper.CategoryMapper" >
     <resultMap id="BaseResultMap" type="com.thegayman.model.Category" >
        <id column="cid" property="cid" jdbcType="BIGINT" />
        <result column="cname" property="cname" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        cid, cname
    </sql>

    <select id="findAllCategory" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM category
    </select>


	<select id="findSecondByCid" resultType="com.thegayman.model.CategorySecond"  >
       SELECT csid,csname,cid FROM categorysecond where cid = #{cid}
    </select>
    
   <select id="queryAll" resultType="com.thegayman.model.Category"  >
       SELECT * FROM category  
    </select>
      <sql id="Base_Column_List" >
        cid, cname
    </sql>
    
</mapper>