<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thegayman.mapper.ShoppingCartMapper">
	
 	<insert id="add" parameterType="com.thegayman.model.ShoppingCart" >
       	insert into shoppingcar (carid,pid,count,proprice) value(#{carId},#{pid},#{count},#{proPrice})
    </insert>
    <select id="addBefore"  resultType="java.lang.Integer" parameterType="com.thegayman.model.ShoppingCart" >
      select count(1) from shoppingcar where carid=#{carId} and #{pid}
    </select>
    <update id="update"  parameterType="com.thegayman.model.ShoppingCart">
   	 update shoppingcar set count=count+#{count} where carid=#{carId} and pid=#{pid}
    </update>
    <select id="show" resultType="map" >
      select * from product a right JOIN shoppingcar b on a.pid=b.pid  and  a.pid in(select pid from shoppingcar where carId=#{uid})
    </select>
</mapper>