<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thegayman.mapper.UserMapper">
	
    <insert id="insert" parameterType="com.thegayman.model.User" >
       INSERT INTO 
       		user
 
       		(uid, loginname, password, username, email, phone, address)
       	VALUES
       		(#{uid}, #{loginname}, #{password}, #{username}, #{email}, #{phone}, #{address} )
    </insert>
    
     
     <select id="checkUserExis" resultType="int" parameterType="string">
       select count(*) from user where loginname=#{username}
     </select>
     
     <select id="checkpassword" resultType="com.thegayman.model.User">
       select * from user where loginname=#{username} and password =#{password}
     </select>
     
</mapper>